# use glob syntax.
syntax: glob

extern/
!extern/Makefile*
!extern/f5to*/
*~
*.in
*.pyc
*.o
*.so
*.a
*.dat
*.out
*_wrap.cxx
*.eps
*.lay
*.tripan
*.wake
*.pdf
*.igs
*.con
*.edge
*.h5
*.f5
*.bdf
*.su2
*.tar.gz
*.png
*.plt
*_cs.*
*.phy
*.bin
*.aux
*.bbl
*.blg
*.log
*.nav
*.snm
*.toc
tacs/*.cpp
tacs.egg-info
reports/
*.pxi
*.vtk
*.cfg
.vscode
.DS_Store
