# use glob syntax.
syntax: glob

# To ignore compiled binaries that have no extensions we need to first ignore everything, then unignore files with extensions and directories
*
!*.*
!*/

extern/
!extern/Makefile*
!extern/f5to*/
*~
*.in
*.pyc
*.o
*.so
*.a
*.dat
*.out
*_wrap.cxx
*.eps
*.lay
*.tripan
*.wake
*.pdf
*.igs
*.con
*.edge
*.h5
*.f5
*.bdf
!tests/integration_tests/input_files/*.bdf
!examples/**/*.bdf
*.su2
*.tar.gz
*.png
*.plt
*.szplt
*_cs.*
*.phy
*.bin
*.aux
*.bbl
*.blg
*.log
*.nav
*.snm
*.toc
tacs/*.cpp
tacs.egg-info
reports/
*.pxi
*.vtk
*.cfg
*.pkl
*.png
*.gif
*.mp4
.vscode
.DS_Store
.pre-commit-config.yaml

**/__pycache__/
